<!-- /templates/page.liquid -->



<div class="index-row index--white">
  <div class="wrapper overlap">
    <div class="overlap">

      
        
      <div class="overlap__item overlap__image overlap--below">
        
          
            <div class="lazy-image" style="padding-top: 56.25%; background-image: none;">
              <img class="fade-in lazyautosizes lazyloaded" alt="" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]" data-aspectratio="1.7777777777777777" data-parent-fit="cover" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_180x.gif?v=1547518772 180w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_360x.gif?v=1547518772 360w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_540x.gif?v=1547518772 540w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_720x.gif?v=1547518772 720w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_900x.gif?v=1547518772 900w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_1080x.gif?v=1547518772 1080w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_1296x.gif?v=1547518772 1296w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_1512x.gif?v=1547518772 1512w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_1728x.gif?v=1547518772 1728w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_2048x.gif?v=1547518772 2048w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_2450x.gif?v=1547518772 2450w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_2700x.gif?v=1547518772 2700w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_3000x.gif?v=1547518772 3000w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_3350x.gif?v=1547518772 3350w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_3750x.gif?v=1547518772 3750w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_4100x.gif?v=1547518772 4100w" sizes="560px" srcset="//cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_180x.gif?v=1547518772 180w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_360x.gif?v=1547518772 360w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_540x.gif?v=1547518772 540w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_720x.gif?v=1547518772 720w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_900x.gif?v=1547518772 900w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_1080x.gif?v=1547518772 1080w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_1296x.gif?v=1547518772 1296w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_1512x.gif?v=1547518772 1512w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_1728x.gif?v=1547518772 1728w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_2048x.gif?v=1547518772 2048w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_2450x.gif?v=1547518772 2450w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_2700x.gif?v=1547518772 2700w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_3000x.gif?v=1547518772 3000w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_3350x.gif?v=1547518772 3350w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_3750x.gif?v=1547518772 3750w, //cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_4100x.gif?v=1547518772 4100w">
            </div>
            <noscript>
              <img src="//cdn.shopify.com/s/files/1/0109/4526/5764/files/ezgif.com-video-to-gif_1_1_720x.gif?v=1547518772" alt="The first FDA cleared urine testing app for safely diagnosing and treating UTIs from the comfort of your home." style="width: 100%;"/>
            </noscript>
        
      </div>
    
      

      <div class="overlap__item overlap__text overlap--above" style="padding: 50px">
          
            <h2 class="h1" style="line-height: 80%">Put your UTI to the test. </h2><br> <h3> The first FDA cleared urine testing app for safely diagnosing and treating UTIs from the comfort of your home.</h3>
          
          
          
            <a href="/pages/science-technology" class="btn overlap__button">
              Learn More
            </a>
          
      </div>     
    </div>

  </div>
</div>


<!-- start pasting into Shopify from here 
<style>
  .vid{
	margin-top:12%;
    border:none;
  }
  .iframevid{
    border:1px solid white; 
    overflow:hidden;
  }
  @media screen and (max-width:480px){
    .mobile-center-text{
 margin:0 !important;
     left: 0 !important;
  	 right: 0 !important;
  	 margin: 0 auto !important;
  text-align: center !important;
  }
}
</style>-->


